* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(242, 242, 242);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(118, 164, 171);
    color: rgb(13, 8, 1);
}
header h1 {
    display: inline-block;
    font-size: 40px;
}
header nav {
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav u {
    list-style: none;
}
header nav ul a {
    display: inline-block;
    margin-left: 5px;
}
a {
    color:rgb(13, 8, 1) ;
}

.art-image {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 25px;
    background-image: url(../art.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main {
    display: block;
}
.column{
    height: 90px;
    margin: 0 120px;
    position: relative;
    bottom:2px;
    border-left: 6px solid rgb(13, 8, 1);
}
section {
    display: flex;
    flex-direction: row;
}

.Group-Picture {
    width: 60%;
    height:50%;
    display: block;
    position: absolute;
    left: 20%;
    bottom: 0%;
}
.column-2 {
    height: 820px;
    margin: 0 125px;
    position: relative;
    top:25px;
    border-left: 6px solid rgb(13, 8, 1)
}

.Computer {
    width: 30%;
    height: 20%;
    display: block;
    position: absolute;
    left: 20%;
    top: 55rem;
}

.Nature {
    width: 30%;
    height: 20%;
    display: block;
    position: absolute;
    left: 20%;
    top: 67rem;
}
.Water {
    width: 28%;
    height: 20%;
    display: block;
    position: absolute;
    left: 52%;  
    top: 55rem;
}
.Red {
    width: 28%;
    height: 20%;
    display: block;
    position: absolute;
    left: 52%;
    top: 67rem;   
}
.column-3 {
    height: 90px;
    margin: 0 183.5px;
    position: relative;
    top:40px;
    border-left: 6px solid rgb(13, 8, 1);  
}
section h2 {
    font-size: 25px;
    position: absolute;
    top: 82rem;
}
section nav ul  {
    position: absolute;
    color: rgb(13, 8, 1);
    top: 82rem;
    font-size: 30px;
    left: 15rem;
}
