body {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-family: 'Raleway', 'ITC Kabel', 'Futura Maxi', 'ITC Avant Garde', 'Century Gothic', sans-serif;
    font-size: 16px;
    color:black;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: orange;
    color: #fff;
  }

  h2 {
    font-size: 1em;
    font-family: 'Holland', 'Bombshell Pro', 'Mission Script', 'Insolente', 'Daqncing Script', 'Qwitcher Grypen', 'Satisfy', 'Great Vibes', 'Lucida Handwriting', serif;
  }
  h3 {
    font-size: 30px;
  }
  p {
    position: relative;
    top: 2rem;
    left: 3rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a {
    font-size: 1.25em;
    color:#fff;
    text-decoration: none;
  }

  nav a:hover {
    color: #1f2d53;
  }
 .avatar {
    display: block;
    margin: 0px auto;

 }

  main {
    display: inline-block;
    max-width: 1200px;
    margin: 2% 5%;
  }

  .module {
    display: flex;
    max-width: 1200px;
    margin: 2% 5%;
  }

  .column {
    float: left;
    width: 20%;
    min-width: 250px;
    border-right: #1f2d53 5px solid;
  }

  .column img {
    max-width: 220px;
    border-radius: 5%;
  }
  .first {
        background-size: cover;
        position: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
  }

  footer {
    font-size: larger;
    background-color: orange;
    color: whitesmoke;
    justify-content: center;
    text-align-last: center;
    justify-content: space-between;
  }

  .footer-item {
    text-decoration: none;
    color: whitesmoke;
  }

  .footer-item:hover {
    color: #1f2d53;
  }


  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .module {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        width: 100%;
        border-right: none;
        border-bottom: #1f2d53 5px solid;
    }
  }

  .content {
    width: 100%;
  }




  